.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4% 16px 4%;
  box-shadow: 0px 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-title {
  margin-top: 17px;
  color: #171717;
  font-size: 38px;
  font-weight: 600px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500px;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart button {
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  background: red;
  font-size: 14px;
  color: white;
  margin-top: -35px;
  margin-left: -10px;
}

.category {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category hr {
  width: 80%;
  height: 3px;
  border: none;
  border-radius: 10px;
  background: #ff4141;
}

.link {
  text-decoration: none;
}
